<div class="row form">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-header">
        <h2>Your Checklist</h2>
      </div>
      <div class="panel-body" >
        <!-- see previous items on checklist -->
        <label>Items: </label>
        <ul id="items-list" ng-repeat="item in vm.checklist.items track by item.id">
          <input type="checkbox" ng-click="vm.selectItem(item)" /> {{ item.task }}
        </ul>
        <hr />
        <form name="item" ng-submit="vm.createItem()">
          <label>Add an item</label><br />
          <input type="text" ng-model="vm.checklist.item.task" class="form-control" /><br />
          <!-- newitem can be added here -->
          <input class="btn btn-info btn-sm" type="submit" value="Add item">
        </form>
        <!-- item can be removed here -->
        <br/>
        <input class="btn btn-info btn-sm" ng-click="vm.destroyItems()" type="submit" value="Remove item">

      </div>
    </div>
  </div>
</div>
