<div class="row form">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-header">
        <h2>Your Checklist</h2>
      </div>
      <div class="panel-body" ng-controller="ItemsController as vm">
        <!-- see previous items on checklist -->
        <label>Items:</label>
        <ul id="items-list" ng-repeat="item in vm.items track by item.id">
          <ol>{{ vm.item.task }}</ol>
        </ul>
        <hr />
        <form name="item" ng-submit="vm.createItem()">
          <label>Add an item</label><br />
          <input type="text" ng-model="vm.item.task" class="form-control" /><br />
          <!-- newitem can be added here -->
          <a href="" ui-sref="home.items({ jobId: vm.job.id })" class="btn btn-info btn-sm">Add an item</a>
        </form>
      </div>
    </div>
  </div>
</div>
