<div class="row form">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-header">
        <h2>Your Checklist</h2>
      </div>
      <div class="panel-body">
        <!-- see previous items on checklist -->
        <label>Items: </label>
        <ul id="items-list">
          <li ng-repeat="item in vm.checklist.items track by item.id">{{ item.task }}</li>
        </ul>
        <hr />
        <form name="item" ng-submit="vm.createItem()">
          <label>Add an item</label><br />
          <input type="text" ng-model="vm.checklist.item.task" class="form-control" /><br />
          <!-- newitem can be added here -->
          <a href="" ui-sref="home.checklists({ checklistId: vm.checklist.id })" class="btn btn-info btn-sm">Add item</a>
        </form>
      </div>
    </div>
  </div>
</div>
