<h1>Let's Make a Job</h1>
<form ng-submit="vm.createJob()">
    <label form="job_title">Job Title: </label>
    <input type="text" ng-model="vm.newJob.job_title" />
    <br />
    <label form="company">Company: </label>
    <input type="text" ng-model="vm.newJob.company" />
    <br />
    <label form="job_description">Job Description: </label>
    <textarea ng-model="vm.newJob.job_description"></textarea>
    <br />
    <label form="company_url">Company URL: </label>
    <input type="text" ng-model="vm.newJob.company_url" />
    <br />
    <label form="date">Date: </label>
    <input type="text" ng-model="vm.newJob.date" />
    <br />
    <label form="status">Status: </label>
    <input type="text" ng-model="vm.newJob.status" />
    <br />
    <label form="point_of_contact">Point of Contact: </label>
    <input type="text" ng-model="vm.newJob.point_of_contact" />
    <br />
    <label form="job_reference">Job Reference: </label>
    <input type="text" ng-model="vm.newJob.job_reference" />
    <br />
    <label form="tech_stack">Tech Stack: </label>
    <input type="text" ng-model="vm.newJob.tech_stack" />
    <br />
    <input type="submit" value="Add Job">
</form>
