<h1>Let's Edit a Job</h1>
<form ng-submit="vm.updateJob()">
    <label form="job_title">Job Title: </label>
    <input type="text" ng-model="vm.newJob.job_title" />
    <br />
    <label form="company">Company: </label>
    <input type="text" ng-model="vm.newJob.company" />
    <br />
    <label form="job_description">Job Description: </label>
    <textarea ng-model="vm.newJob.job_description"></textarea>
    <br />
    <label form="company_url">Company URL: </label>
    <input type="text" ng-model="vm.newJob.company_url" />
    <br />
    <label form="date">Date: </label>
    <input type="text" ng-model="vm.newJob.date" />
    <br />
    <label form="status">Status: </label>
    <input type="text" ng-model="vm.newJob.status" />
    <br />
    <label form="point_of_contact">Point of Contact: </label>
    <input type="text" ng-model="vm.newJob.point_of_contact" />
    <br />
    <label form="job_reference">Job Reference: </label>
    <input type="text" ng-model="vm.newJob.job_reference" />
    <br />
    <label form="tech_stack">Tech Stack: </label>
    <input type="text" ng-model="vm.newJob.tech_stack" />
    <br />

    <div>After updates the information will be:
      <br />
      Job Title: <span ng-bind="vm.job.job_title"></span>
      Company: <span ng-bind="vm.job.company"></span>
      Job Description: <span ng-bind="vm.job.job_description"></span>
      Company URL: <span ng-bind="vm.job.company_url"></span>
      Date: <span ng-bind="vm.job.date"></span>
      Status: <span ng-bind="vm.job.status"></span>
      Point of Contact: <span ng-bind="vm.job.point_of_contact"></span>
      Job Reference: <span ng-bind="vm.job.job_reference"></span>
      Tech Stack: <span ng-bind="vm.job.tech_Stack"></span>
    </div>
    <br />
    <!-- <label for="current-state">State: </label>
    <div ng-controller="StatesController as statesCtrl">
        <select ng-options="state.id*1 as state.name for state in statesCtrl.states" ng-model="breweriesShowCtrl.brewery.state_id">
              <option name="current-state" label="{{ breweriesShowCtrl.brewery.state.name }}" ng-bind="breweriesShowCtrl.brewery.state.id"></option>
        </select>
    </div> -->

    <input type="submit" name="Edit Job">

</form>
